Repository Los-nonos/ZeepCommerce, pull requests merged in 2020-01, with the labels that each got.

#23 User ABM - #1
  backend/package-lock.json
  backend/src/Application/Adapters/ProductAdapter.ts
  backend/src/Application/Adapters/Schemas/DescriptionSchema.ts
  backend/src/Application/Adapters/Schemas/PriceSchema.ts
  backend/src/Application/Adapters/UserAdapter.ts
  backend/src/Application/Controllers/ProductController.ts
  backend/src/Application/Controllers/UserController.ts
  backend/src/Domain/Commands/ProductCommand.ts
  backend/src/Domain/Commands/UserCommand.ts
  backend/src/Domain/Handlers/Product/ProductDeleteHandler.ts
  backend/src/Domain/Handlers/User/UserCreateHandler.ts
  backend/src/Domain/Handlers/User/UserDeleteHandler.ts
  backend/src/Domain/Handlers/UserHandler.ts
  backend/src/Infraestructure/Interfaces/UserCreatedHandlerInterface.ts
Labels: backend, ready for review, type:enhancement

#26 AMB User - #2 Finish
  backend/package-lock.json
  backend/package.json
  backend/src/Application/Adapters/ProductAdapter.ts
  backend/src/Application/Adapters/Schemas/DescriptionSchema.ts
  backend/src/Application/Adapters/Schemas/DniSchema.ts
  backend/src/Application/Adapters/Schemas/IdSchema.ts
  backend/src/Application/Adapters/Schemas/NameSchema.ts
  backend/src/Application/Adapters/Schemas/PriceSchema.ts
  backend/src/Application/Adapters/UserAdapter.ts
  backend/src/Application/Controllers/ProductController.ts
  backend/src/Application/Controllers/UserController.ts
  backend/src/Domain/Commands/ProductCommands/ProductCommand.ts
  backend/src/Domain/Commands/UserCommands/CreateUserCommand.ts
  backend/src/Domain/Commands/UserCommands/EditUserCommand.ts
  backend/src/Domain/Commands/UserCommands/FindUserCommand.ts
  backend/src/Domain/Commands/UserCommands/UserCommand.ts
  backend/src/Domain/Handlers/Product/ProductDeleteHandler.ts
  backend/src/Domain/Handlers/User/UserCreateHandler.ts
  backend/src/Domain/Handlers/User/UserDeleteHandler.ts
  backend/src/Domain/Handlers/User/UserEditHandler.ts
  backend/src/Domain/Handlers/User/UserShowHandler.ts
  backend/src/Infraestructure/ErrorHandler/Exceptions/InfraestructureException.ts
  backend/src/Infraestructure/ErrorsHandlers/ErrorHandler.ts
  backend/src/Infraestructure/ErrorsHandlers/Errors/AppError.ts
  backend/src/Infraestructure/ErrorsHandlers/Errors/BaseError.ts
  backend/src/Infraestructure/ErrorsHandlers/Errors/DataBaseError.ts
  backend/src/Infraestructure/ErrorsHandlers/Errors/DomainException.ts
  backend/src/Infraestructure/ErrorsHandlers/Errors/EntityNotFound.ts
  backend/src/Infraestructure/ErrorsHandlers/Errors/InfraestructureError.ts
  backend/src/Infraestructure/ErrorsHandlers/Errors/InvalidData.ts
  backend/src/Infraestructure/ErrorsHandlers/Errors/NotFoundData.ts
  backend/src/Infraestructure/ErrorsHandlers/Errors/SessionInvalid.ts
  backend/src/Infraestructure/ErrorsHandlers/Errors/SessionNotFound.ts
  backend/src/Infraestructure/ErrorsHandlers/Errors/UnAuthorizedException.ts
  backend/src/Infraestructure/Interfaces/ProductControllerInterface.ts
  backend/src/Infraestructure/Interfaces/UserControllerInterface.ts
  backend/src/Infraestructure/Interfaces/UserCreatedHandlerInterface.ts
  backend/src/Infraestructure/Router/Router.ts
  backend/src/index.ts
  backend/src/inversify.config.ts
  backend/src/types.ts
Labels: backend, ready for review

#29 Abm product joaquin
  backend/package-lock.json
  backend/src/Application/Adapters/ProductAdapter.ts
  backend/src/Application/Controllers/ProductController.ts
  backend/src/Domain/Commands/ProductCommands/ProductCreateCommand.ts
  backend/src/Domain/Commands/ProductCommands/ProductDeleteCommand.ts
  backend/src/Domain/Commands/ProductCommands/ProductEditCommand.ts
  backend/src/Domain/Entity/Product.ts
  backend/src/Domain/Handlers/Product/ProductCreateHandler.ts
  backend/src/Domain/Handlers/Product/ProductDeleteHandler.ts
  backend/src/Domain/Handlers/Product/ProductEditHandler.ts
  backend/src/Infraestructure/Database/Configs.ts
  backend/src/Infraestructure/Interfaces/ProductControllerInterface.ts
  backend/src/Infraestructure/Interfaces/ProductCreateHandlerInterface.ts
  backend/src/Infraestructure/Interfaces/ProductDeleteHandlerInterface.ts
  backend/src/Infraestructure/Interfaces/ProductEditHandlerInterface.ts
  backend/src/Infraestructure/Router/Router.ts
  backend/src/types.ts
Labels: backend, ready for review, type:enhancement

#30 ABM User - #3
  backend/src/Application/Adapters/UserAdapter.ts
  backend/src/Application/Controllers/UserController.ts
  backend/src/Domain/Commands/UserCommands/DeleteUserCommand.ts
  backend/src/Domain/Commands/UserCommands/EditUserCommand.ts
  backend/src/Domain/Commands/UserCommands/FindUserCommand.ts
  backend/src/Domain/Commands/UserCommands/UserCreateCommand.ts
  backend/src/Domain/Entity/User.ts
  backend/src/Domain/Handlers/User/UserCreateHandler.ts
  backend/src/Domain/Handlers/User/UserDeleteHandler.ts
  backend/src/Domain/Handlers/User/UserFindHandler.ts
  backend/src/Infraestructure/Interfaces/ProductDeleteHandlerInterface.ts
  backend/src/Infraestructure/Interfaces/UserInterfaces/CreateUserHandlerInterface.ts
  backend/src/Infraestructure/Interfaces/UserInterfaces/DeleteUserHandlerInterface.ts
  backend/src/Infraestructure/Interfaces/UserInterfaces/EditUserInterface.ts
  backend/src/Infraestructure/Interfaces/UserInterfaces/FindUserHandlerInterface.ts
  backend/src/Infraestructure/Interfaces/UserInterfaces/UserControllerInterface.ts
  backend/src/Infraestructure/Router/Router.ts
Labels: backend, ready for review

#37 User abm martin
  backend/src/Application/Adapters/Schemas/NameSchema.ts
  backend/src/Application/Adapters/UserAdapter.ts
  backend/src/Application/Controllers/UserController.ts
  backend/src/Domain/Commands/UserCommands/EditUserCommand.ts
  backend/src/Domain/Commands/UserCommands/FindAllUsersCommand.ts
  backend/src/Domain/Commands/UserCommands/UserCommand.ts
  backend/src/Domain/Commands/UserCommands/UserCreateCommand.ts
  backend/src/Domain/Commands/UserCommands/UserFindCommand.ts
  backend/src/Domain/Handlers/User/FindAllUsersHandler.ts
  backend/src/Domain/Handlers/User/UserCreateHandler.ts
  backend/src/Domain/Handlers/User/UserDeleteHandler.ts
  backend/src/Domain/Handlers/User/UserEditHandler.ts
  backend/src/Domain/Handlers/User/UserFindHandler.ts
  backend/src/Infraestructure/Interfaces/UserInterfaces/CreateUserHandlerInterface.ts
  backend/src/Infraestructure/Interfaces/UserInterfaces/EditUserHandlerInterface.ts
  backend/src/Infraestructure/Interfaces/UserInterfaces/EditUserInterface.ts
  backend/src/Infraestructure/Interfaces/UserInterfaces/FindAllUsersHandlerInterface.ts
  backend/src/Infraestructure/Interfaces/UserInterfaces/FindUserHandlerInterface.ts
  backend/src/Infraestructure/Interfaces/UserInterfaces/UserAdapterInterface.ts
  backend/src/Infraestructure/Interfaces/UserInterfaces/UserControllerInterface.ts
  backend/src/Infraestructure/Router/Router.ts
  backend/src/inversify.config.ts
  backend/src/types.ts
Labels: backend, ready for review, report: fix

#44 added header and carrousel
  packages/website/styles/scss/components/Header.scss
  packages/website/views/components/Carrousel.tsx
  packages/website/views/components/Header.tsx
  packages/website/views/containers/indexPage.tsx
Labels: frontend

#48 desacopled login page
  packages/website/views/containers/loginPage.tsx
  packages/website/views/sections/login/Description.tsx
Labels: frontend, priority: mid, size: 1
